*/queryresults/*
locaties/locaties.geojson

assets/filmladders/*
files/filmladders-per-jaar/*
tijdmachine/data/*.json
gebeurtenissen/data/*.json
plekken/data/*.json
specials/data/*.json
verhalen/data/*.json

files
iiif
tiles
