*/queryresults/*
locaties/locaties.geojson

assets/filmladders/*
tijdmachine/data/*.json
gebeurtenissen/data/*.json
plekken/data/*.json
verhalen/data/*.json

files
files/filmladders-per-jaar/1980/*.jpg
iiif
tiles