
body{
	background-color: #fff;
	padding: 40px;
	font-family: sans-serif;
}

blockquote{
	font-style: italic;
	padding-top: 8px;
	padding-bottom: 30px;
	font-size: 32px; 
	font-family: serif;
	background-color: #fff;
}
.abt-locations{
	background-color: #FFE7E3;
	color: #950305;
}
.abt-actors{
	background-color: #FFF9E3;
	color: #937805;
}
.abt-events{
	background-color: #EDE3FF;
	color: #6900A1;
}
.abt-interviews, .abt-war{
	background-color: #E6FFE3;
	color: #1E7C01;
}
.abt-timemachine{
	background-color: #E3EFFF;
	color: #09409C;
}
.black{
	background-color: #2F2F2F;
	color: #E4E4E4;
}
.white{
	background-color: #fff;
	color: #000;
}
h2{
	font-size: 28px;
	margin-top: 16px;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
h3{
	font-size: 22px;
	margin-top: 36px;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
h4{
	font-size: 16px;
	margin-top: 12px;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.listing h3{
	border-bottom: 2px solid #000;
	padding-bottom: 7px;
}
.imgbar{
	padding: 0;
}
.imgbar img{
	width: 100%;
}
.imgbar .imginfo{
	position: absolute;
	background: rgba(9, 64, 156, .3);
	padding: 15px;
	width: 100%;
	display: none;
}
.imgbar .event .imginfo{
	display: block;
}
.imgbar .imginfo h2{
	margin-top: 0;
}
.locationsheader{
	background-image: url(https://commons.wikimedia.org/wiki/Special:FilePath/Gebouw%20Rotterdamsche%20Kunstkring%201933.jpg?width=1000);
	background-size: cover;
	background-position: left center;
}
body.abt-locations .locationsheader .col-md{
	background: rgba(149, 3, 5, .6);
	padding-bottom: 100px;
}
body.abt-timemachine .locationsheader .col-md{
	background: rgba(9, 64, 156, .3);
	padding-bottom: 100px;
}
a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: inherit;
	text-decoration: underline;
}
.padding{
	padding:5px 15px;
}
.abt-locations .white a{
	color: #950305;
	font-weight: normal;
}
#timemachineform{
	margin-bottom: 24px;
}