
body{
	margin:0;
	padding: 0 20px 40px 20px;
	font-family: 'PT Sans', sans-serif;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	background-color: #fff;
	color: #464343;
}
.lead{
	font-size: 24px;
	font-family: 'Times New Roman', serif;
	margin-top: 20px;
	margin-bottom: 0;
}
.smaller{
	font-size: 16px;
}

.evensmaller{
	font-size: 13px;
	line-height: 1.3;
}
.onderschrift{
	font-size: 14px;
	line-height: 1.3;
	margin-top: -6px;
}
.faded{
	color: #ccc;
	display: none;
}
h1{
	margin-top: 40px;
	padding-bottom: 12px;
	font-size: 48px;
	font-family: 'Times New Roman', serif;
	border-bottom: 4px solid #464343;
}
h2{
	margin-top: 30px;
	padding-bottom: 6px;
	font-size: 28px;
	font-family: 'Times New Roman', serif;
	border-bottom: 4px solid #464343;
}
h2.buildings{
	border-bottom: 4px solid #c2675d;
}
h2.timemachine{
	border-bottom: 4px solid #929eda;
}
h2.interviews{
	border-bottom: 4px solid #11aa7f;
}
h2.events{
	border-bottom: 4px solid #b585b9;
}
h3{
	margin-top: 30px;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 24px;
	font-family: 'Times New Roman', serif;
	border-bottom: 4px solid #464343;
}
a{
	color: #ff6300;
}
a:hover{
	text-decoration: none;
	color: #a749ac;
}
.buildings a, .buildings a:hover, a.buildings, a.buildings:hover{
	color: #c2675d;
}
.timemachine a, .timemachine a:hover{
	color: #929eda;
}
.interviews a, .interviews a:hover{
	color: #11aa7f;
}
.events a, .events a:hover{
	color: #b585b9;
}
.quote{
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #b7b6b8;
	color: #fff;
	font-weight: bold;
	padding: 16px;
}
.quote p{
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}
.quote p span{
}
.quote .smaller, .quote .evensmaller{
	text-align: right;
}
img{
	width: 100%;
	margin-bottom: 16px;
	margin-top: 8px;
}
.wpicon, .wdicon{
	width: 14px;
	margin-right: 3px;
	margin-top: -3px;
}
.btn-primary{
	margin-top: 20px;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	border-color: #fff;
}
.btn-primary:hover{
	background-color: #BC000C;
	color: #fff;
	border-color: #fff;
}
button:focus, input:focus, .btn-primary:focus {
	outline:0;
	background-color: #fff;
	color: #000;
	border-color: #fff;
}


